.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: #000;
  color: #fff;
  position: fixed;
  padding: 10px 20px;
  &__button {
    background-color: #fff;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
  }
}
